# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk

# MacOS general
.DS_Store
.AppleDouble
.LSOverride

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Parcel Bundler
.parcel-cache

# Npm packages
/node_modules/*
package-lock.json

# Project
dist
/build/
/tmp/
.cache