/// @type map
/// @access private
$font-scales: (
  'h1': 1.5,
  'h2': 1.125,
  'p': 1,
  'label': 0.875,
) !default;

html {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;

  @include mq(lg) {
    font-size: 12px;
  }
}

@each $element, $font-value in $font-scales {
  #{$element} {
    @include font-size($font-value * 1rem);
  }
}
