.button {
  @extend %button;
  @include padding(0.5rem 1.75rem);
  @include font-size(1.2rem);

  display: inline-flex;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  color: $white;
  border: none;
  border-radius: 5rem;
  background-color: $black;

  transition: all ease-out 150ms;

  &:hover:not(.-danger):not(.-icon) {
    background-color: $green;
    color: $black;
  }

	&.-icon{
		@include padding(0.5rem);
		@include font-size(1.5rem);
		background-color: transparent;
		width: fit-content;
		height: fit-content;
		color: black;
	}

  &.-danger {
    background-color: $red;
  }

  &.-full-w {
    width: 100%;
  }
}
