input {
  z-index: 1;

  display: block;

  padding: 0;
  width: 100%;

  outline: 0;
  font-size: inherit;

  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    opacity: 0.54;
    color: inherit;
  }
}

.input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  padding: 0.27rem;

  border: 1px solid $gray-2;
  border-radius: 5rem;

  &__core {
    flex-grow: 1;

    @include padding-left(1.25rem);

    width: 100%;
    max-width: 100%;

    &:not(:valid) ~ button {
      pointer-events: none;
      background-color: $gray;
    }
  }

  &__button {
    margin-right: 1px;
  }
}
