.popup {
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  position: absolute;
  inset: 0;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(100% - 2rem, 35.5rem);
    height: 10rem;

    background-image: url('../img/winner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-color: $white;

    pointer-events: none;
  }

  &__filter {
    z-index: -1;

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba($gray-2, 0.2);
  }

  h1 {
    @include font-size(48px);
    font-weight: 600;

    user-select: none;
    text-transform: none;
  }
}
