input {
  display: block;
  width: 100%;
  padding: 0;
  outline: 0;
  font-size: inherit;
  border: none;
  z-index: 1;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }
}

.user-input {
  padding: 0.27rem;
  border: 3px solid $black;
  border-radius: 5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &__input {
    @include padding-left(1.25rem);

    flex-grow: 1;
    max-width: 100%;
    width: 100%;
  }

  &__button {
    margin-right: 1px;
  }
}
