////
/// @group flex
////

/// Flex start
///
/// @access private
%flex-start {
  align-items: start;
  align-content: start;
  justify-content: start;
}

/// Flex center
///
/// @access private
%flex-center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

/// Flex end
///
/// @access private
%flex-end {
  align-items: end;
  align-content: end;
  justify-content: end;
}

/// Hızlıca flexbox yaratmak için
///
///
/// @require {placeholder} flex-start
/// @require {placeholder} flex-center
/// @require {placeholder} flex-end
///
/// @example scss
///   .foo {
///       @include flex;
///
///       @include flex-row;
///       @include flex-row-start;
///       @include flex-row-center;
///       @include flex-row-end;
///
///       @include flex-column;
///       @include flex-column-start;
///       @include flex-column-center;
///       @include flex-column-end;
///   }
///
@mixin flex {
  display: flex;
}

/// @alias flex
/// @require {mixin} flex
/// @require {placeholder} %flex-start
@mixin flex-start {
  @include flex;
  @extend %flex-start;
}

/// @alias flex
/// @require {mixin} flex
/// @require {placeholder} %flex-center
@mixin flex-center {
  @include flex;
  @extend %flex-center;
}

/// @alias flex
/// @require {mixin} flex
/// @require {placeholder} %flex-end
@mixin flex-end {
  @include flex;
  @extend %flex-end;
}

/// @alias flex
/// @require {mixin} flex
@mixin flex-row {
  @include flex;
  flex-direction: row;
}

/// @alias flex
/// @require {mixin} flex-row
/// @require {placeholder} %flex-start
@mixin flex-row-start {
  @include flex-row;
  @extend %flex-start;
}

/// @alias flex
/// @require {mixin} flex-row
/// @require {placeholder} %flex-center
@mixin flex-row-center {
  @include flex-row;
  @extend %flex-center;
}

/// @alias flex
/// @require {mixin} flex-row
/// @require {placeholder} %flex-end
@mixin flex-row-end {
  @include flex-row;
  @extend %flex-end;
}

/// @alias flex
/// @require {mixin} flex
@mixin flex-column {
  @include flex;
  flex-direction: column;
}

/// @alias flex
/// @require {mixin} flex-column
/// @require {placeholder} %flex-start
@mixin flex-column-start {
  @include flex-column;
  @extend %flex-start;
}

/// @alias flex
/// @require {mixin} flex-column
/// @require {placeholder} %flex-center
@mixin flex-column-center {
  @include flex-column;
  @extend %flex-center;
}

/// @alias flex
/// @require {mixin} flex-column
/// @require {placeholder} %flex-end
@mixin flex-column-end {
  @include flex-column;
  @extend %flex-end;
}
