/// Default shadow setting
%shadow {
  box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.014),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.026),
    100px 100px 80px rgba(0, 0, 0, 0.04);
}

/// Quick reset for buttons
%button {
  white-space: nowrap;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}
