// ------------------------- Color pallette ----------------------------

$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 20%);
$gray-2: hsl(0, 0%, 54%);
$red: hsl(14, 100%, 50%);
$green: hsl(158, 100%, 50%);
$white: hsl(0, 0%, 100%);
// ---------------------------------------------------------------------
