.item-list {
  overflow: hidden;
  border-radius: 15px;
  background-color: $white;

  &__head {
    @include padding(0.6rem 1.25rem);

    color: $white;
    background-color: $black;
  }

  &__wrapper  {
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @include padding(0.75rem);

    max-height: 30rem;
  }
}
