@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$base-font-size: 16px;
$base-font-family: 'Poppins', sans-serif;
$base-font-weight: 400;

html {
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
}

body {
	padding: 0;
	margin: 125px;
}

.app {
	width: 760px;
	margin: 0 auto;
	text-align: center;
}

.user-input {
	border-radius: 50px;
	padding: 8px;
	border: 3px solid #000000;
}

.button {
	padding: 9px 24px;
	border-radius: 50px;
	background: #000000;
	color: white;
}