@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&;500;600display=swap');

$base-font-size: 18px;
$base-font-family: 'Poppins', sans-serif;
$base-font-weight: 500;

$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 20%);
$gray-2: hsl(0, 0%, 54%);
$red: hsl(14, 100%, 50%);
$green: hsl(158, 100%, 50%);
$white: hsl(0, 0%, 100%);

html {
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
}

body {
	font-size: inherit;
	padding: 0;
	margin: 0;
}

input {
	border: none;
	outline: 0;
	background-color: transparent;
	padding: 0 1.2rem;
	font-size: inherit;
	color: $black;
}

::placeholder {
	color: $gray-2;
}

.app {
	width: min(576px, 100%);
	padding: 2rem 1rem;
	margin: auto;
}

.button {
	border: none;
	outline: 0;
	font-size: inherit;
	text-transform: capitalize;

	padding: .5rem 1.7rem;
	border-radius: 5rem;
	background: $black;
	color: $white;

	transition: all ease-out 150ms;

	&:hover {
		background-color: $green;
		color: $black;
	}

	&.-full-w {
		width: 100%;
	}
}