@tailwind base;
@tailwind components;
@tailwind utilities;

[hidden] {
  display: none !important;
}

.bubble {
  position: absolute;
  border-radius: 0.5rem;
  pointer-events: none;
  transition: all 150ms ease;
  background-color: white;
  transform-origin: center;
}
